@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the hotel Baguette's breakfast portal!</h1>

    @*<button class="button1" onClick="history.go(0);">&emsp;&emsp;Refresh Page&emsp;&emsp;</button>*@

<p><br />Role: Reception Staff: - login mail: receptionist@baguettes.com  - Passkode: "hej123.<br />&emsp;&emsp;</p>
    <button class="button1" onclick="location.href='https://localhost:44337/Home/Reception'" type="button">
        &emsp;&emsp;Reception Staff" &emsp;&emsp;
    </button>
    <p><br />Role: Kitchen Staff:  - login mail: waiter@baguettes.com - Passkode: "hej123.<br />&emsp;&emsp;</p>
    <button class="button1" onclick="location.href='https://localhost:44337/KitchenModels/Index'" type="button">
        &emsp;&emsp;Kitchen Staff" &emsp;&emsp;
    </button>
    <p><br />Role: Restaurant Staff<br />&emsp;&emsp;</p>
    <button class="button1" onclick="location.href='https://localhost:44337/Home/Restaurant'" type="button">
        &emsp;&emsp;Restaurant Staff&emsp;&emsp;
    </button>
    <p><br />&emsp;&emsp; You can also <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">click here!</a></p>

</div>



