@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the hotel Baguette's breakfast portal!</h1>


    <p><br />&emsp;&emsp; To login <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here!</a></p>

    <p><br />&emsp;&emsp;Role: Reception Staff<br />&emsp;&emsp;Password: Team16</p>
    <p><br />&emsp;&emsp;Role: Kitchen Staff<br />&emsp;&emsp;Password: Team16</p>
    <p><br />&emsp;&emsp;Role: Restaurant Staff<br />&emsp;&emsp;Password: Team16</p>



</div>

