@model GUI_assignment_2.Models.OrderModel

@{
    ViewData["Title"] = "Restaurant";
}

<h1>Restaurant</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="text-center">
        <button class="button1" onClick="history.go(0);">&emsp;&emsp;Refresh Page&emsp;&emsp;</button>
    </div>
    <div class="col-md-4">
        <form asp-action="Restaurant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adults" class="control-label"></label>
                <input asp-for="Adults" class="form-control" />
                <span asp-validation-for="Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kids" class="control-label"></label>
                <input asp-for="Kids" class="form-control" />
                <span asp-validation-for="Kids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInAdults" class="control-label"></label>
                <input asp-for="CheckedInAdults" class="form-control" />
                <span asp-validation-for="CheckedInAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInKids" class="control-label"></label>
                <input asp-for="CheckedInKids" class="form-control" />
                <span asp-validation-for="CheckedInKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
