@model GUI_assignment_2.Models.KitchenModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KitchenModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalAdultsDate" class="control-label"></label>
                <input asp-for="TotalAdultsDate" class="form-control" />
                <span asp-validation-for="TotalAdultsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalKidsDate" class="control-label"></label>
                <input asp-for="TotalKidsDate" class="form-control" />
                <span asp-validation-for="TotalKidsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInAdults" class="control-label"></label>
                <input asp-for="CheckedInAdults" class="form-control" />
                <span asp-validation-for="CheckedInAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInKids" class="control-label"></label>
                <input asp-for="CheckedInKids" class="form-control" />
                <span asp-validation-for="CheckedInKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingAdults" class="control-label"></label>
                <input asp-for="RemainingAdults" class="form-control" />
                <span asp-validation-for="RemainingAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingKids" class="control-label"></label>
                <input asp-for="RemainingKids" class="form-control" />
                <span asp-validation-for="RemainingKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingTotal" class="control-label"></label>
                <input asp-for="RemainingTotal" class="form-control" />
                <span asp-validation-for="RemainingTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
