@model GUI_assignment_2.Models.CheckedInModel

@{
    ViewData["Title"] = "Create";
}

<h1>Restaurant</h1>

<h4>Create a new breakfast order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInAdults" class="control-label"></label>
                <input asp-for="CheckedInAdults" class="form-control" />
                <span asp-validation-for="CheckedInAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInKids" class="control-label"></label>
                <input asp-for="CheckedInKids" class="form-control" />
                <span asp-validation-for="CheckedInKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
